.add-todo {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 7px;
    margin: 20px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.add-todo input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.add-todo button {
    background-color: #3f6440;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.add-todo button:hover {
    background-color: #1f3820;
}



